@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

#hero {
  padding-top: 23px;
}

#navbar {
  width: 1152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  align-items: center;
}

.menu_bar {
  list-style: none;
  display: flex;
}

.menu_link {
  color: #222;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  padding: 9px 24px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.menu_link:hover {
  color: #DAA520;
}

.sign_up_button {
  padding: 9px 36px;
  border: 1px solid #3E3F43;
  border-radius: 8px;
  color: #3E3F43;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  margin-left: 24px;
  height: 20px;
  display: block;
}

#parrafo1{
  position: absolute;
  width: 504px;
  height: 98px;
  left: 102px;
  top: 217px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;

  color: #3E3F43;
}

#parrafo2{
  position: absolute;
  width: 504px;
  height: 196px;
  left: 102px;
  top: 331px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;

  color: #313235;
}

#mesa{
  position: absolute;
  width: 568px;
  height: 577px;
  left: 700px;
  top: 165px;

  background: url(.png);
}

.Explore_button {
  padding: 9px 36px;
  border: 1px solid #DAA520;
  border-bottom: 8px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  margin-left: 24px;
  height: 20px;
  background-color:#DAA520 ;
  margin-left: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  top: 650px;
}

#rectangulo{
  position: absolute;
  width: 370px;
  height: 800px;
  left: 900px;
  top: 0px;
  z-index:-1;
}

#flor{
  position: absolute;
  width: 568px;
  height: 577px;
  left: 600px;
  top: 165px;
  background: url(.png);
  z-index:-2;
  top: 400px; 
}

#flor2{
  position: absolute;
  width: 568px;
  height: 577px;
  left: 100px;
  top: 1000px; 
}

#parrafo3{
  position: absolute;
  width: 504px;
  height: 196px;
  left: 136px;
  top: 955px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;

  color: #313235;
}

#linea{
  position: absolute;
  width: 568px;
  height: 577px;
  left: 350px;
  top: 1005px; 
}

#about{
  position: absolute;
  width: 379px;
  height: 98px;
  left: 673px;
  top: 900px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;

  color: rgba(34, 34, 34, 0.1);
}

#rectangulo2{
  position: absolute;
  width: 278px;
  height: 388px;
  left: 100px;
  top: 1100px;
}

#plato{
  position: absolute;
  width: 388px;
  height: 306px;
  left: 138px;
  top: 1180px;

  background: url(.png);
}

#parrafo4{
  position: absolute;
  width: 448px;
  height: 98px;
  left: 604px;
  top: 1180px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;

  color: #3E3F43;
}

#parrafo5{
  position: absolute;
  width: 448px;
  height: 66px;
  left: 604px;
  top: 1300px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}

#cocina{
  position: absolute;
  width: 287px;
  height: 384px;
  left: 865px;
  top: 1550px;

  background: url(.png);
}

#parrafo6{
  position: absolute;
  width: 648px;
  height: 49px;
  left: 102px;
  top: 1620px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 49px;

  color: #000000;
}

#parrafo7{
  position: absolute;
  width: 648px;
  height: 66px;
  left: 102px;
  top: 1700px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;

  color: #000000;
}

#flor3{
  position: absolute;
  width: 568px;
  height: 577px;
  left: 100px;
  top: 2100px; 
}

#parrafo8{
  position: absolute;
  width: 254px;
  height: 49px;
  left: 138.5px;
  top: 2055px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;

  color: #3E3F43;
}

#linea2{
  position: absolute;
  width: 65px;
  height: 0px;
  left: 408.5px;
  top: 2100px;
}

#parrafo9{
  position: absolute;
  width: 579px;
  height: 98px;
  left: 473.5px;
  top: 1990px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;

  color: rgba(34, 34, 34, 0.1);
}

#ventas{
  position: absolute;
  width: 287px;
  height: 384px;
  left: 100.5px;
  top: 2234px;

  background: url(.png);
}

#area{
  position: absolute;
  width: 287px;
  height: 384px;
  left: 380px;
  top: 2234px;

  background: url(.png);
}

#budg{
  position: absolute;
  width: 287px;
  height: 384px;
  left: 630px;
  top: 2234px;

  background: url(.png);
}

#produ{
  position: absolute;
  width: 287px;
  height: 384px;
  left: 860px;
  top: 2234px;

  background: url(.png);
}

#perso{
  position: absolute;
  left: 393px;
  top: 1906px;
}

#parrafo10{
  position: absolute;
  width: 242px;
  height: 49px;
  left: 138.5px;
  top: 2650px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 49px;
  
  color: #3E3F43;
}

#flor4{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 100.5px;
  top: 2694px;
}

#linea4{
  position: absolute;
  width: 240px;
  height: 0px;
  left: 396.5px;
  top: 2693px;
}

#parrafo11{
  position: absolute;
  width: 454px;
  height: 98px;
  left: 598.5px;
  top: 2580px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  
  color: rgba(34, 34, 34, 0.1);
}

#categorias1{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 100px;
  top: 2850px;
  z-index:-1;
}

#categorias2{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 480px;
  top: 2850px;
  z-index:-1;
}

#categorias3{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 860px;
  top: 2850px;
  z-index:-1;
}

#categorias4{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 100px;
  top: 3300px;
  z-index:-1;
}

#categorias5{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 480px;
  top: 3300px;
  z-index:-1;
}

#categorias6{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 100px;
  top: 2930px;
}

#categorias7{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 540px;
  top: 2930px;
}

#categorias8{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 900px;
  top: 2930px;
}

#categorias9{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 170px;
  top: 3380px;
}

#categorias10{
  position: absolute;
  width: 280px;
  height: 400px;
  left: 500px;
  top: 3430px;
}

#txtcategorias1{
  position: absolute;
  width: 57px;
  height: 33px;
  left: 115px;
  top: 2850px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #3E3F43;
}

#txtcategorias2{
  position: absolute;
  width: 57px;
  height: 33px;
  left: 500px;
  top: 2850px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #3E3F43;
}

#txtcategorias3{
  position: absolute;
  width: 57px;
  height: 33px;
  left: 880px;
  top: 2850px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #3E3F43;
}

#txtcategorias4{
  position: absolute;
  width: 57px;
  height: 33px;
  left: 115px;
  top: 3300px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #3E3F43;
}

#txtcategorias5{
  position: absolute;
  width: 57px;
  height: 33px;
  left: 180px;
  top: 3300px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #3E3F43;
}

#txtcategorias6{
  position: absolute;
  width: 57px;
  height: 33px;
  left: 520px;
  top: 3300px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #3E3F43;
}

.Categorias_button1{
  position: absolute;
  top: 3180px;
  left: 230px;

  padding: 8px 20px;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 18px;
  color: #3E3F43;
  text-decoration: none;
  
  background: #F9BDBD;
  border: 1px solid #3E3F43;
  border-radius: 6px;
}

.Categorias_button2{
  position: absolute;
  top: 3180px;
  left: 610px;

  padding: 8px 20px;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 18px;
  color: #3E3F43;
  text-decoration: none;
  
  background: #F7DEA6;
  border: 1px solid #3E3F43;
  border-radius: 6px;
}

.Categorias_button3{
  position: absolute;
  top: 3180px;
  left: 990px;

  padding: 8px 20px;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 18px;
  color: #3E3F43;
  text-decoration: none;
  
  background: #A8DCEC;
  border: 1px solid #3E3F43;
  border-radius: 6px;
}

.Categorias_button4{
  position: absolute;
  top: 3630px;
  left: 230px;

  padding: 8px 20px;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 18px;
  color: #3E3F43;
  text-decoration: none;
  
  background: #F9BDBD;
  border: 1px solid #3E3F43;
  border-radius: 6px;
}

.Categorias_button5{
  position: absolute;
  top: 3630px;
  left: 610px;

  padding: 8px 20px;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 18px;
  color: #3E3F43;
  text-decoration: none;
  
  background: #F7DEA6;
  border: 1px solid #3E3F43;
  border-radius: 6px;
}

#testimonial1{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 100.5px;
  top: 3800px;
}

#txttestimonial1{
  position: absolute;
  width: 242px;
  height: 49px;
  left: 138.5px;
  top: 3756px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 49px;
  
  color: #3E3F43;
}

#testimonial2{
  position: absolute;
  width: 240px;
  height: 0px;
  left: 396.5px;
  top: 3805px;
}

#txttestimonial2{
  position: absolute;
  width: 416px;
  height: 98px;
  left: 636.5px;
  top: 3690px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  
  color: rgba(34, 34, 34, 0.1);
}

#testimonial3{
  position: absolute;
  width: 240px;
  height: 320px;
  left: 100.5px;
  top: 3920px;
}

#testimonial4{
  position: absolute;
  width: 240px;
  height: 320px;
  left: 400px;
  top: 3920px;
}

#testimonial5{
  position: absolute;
  width: 240px;
  height: 320px;
  left: 720px;
  top: 3920px;
}

#testimonial6{
  position: absolute;
  width: 240px;
  height: 320px;
  left: 720px;
  top: 4235px;
}

#testimonial7{
  position: absolute;
  width: 240px;
  height: 320px;
  left: 1030px;
  top: 4235px;
}

#testimonial8{
  position: absolute;
  width: 240px;
  height: 320px;
  left: 920px;
  top: 4300px;
}

#footer1{
  position: absolute;
  width: 493px;
  height: 69px;
  left: 107.5px;
  top: 4470px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  
  color: #000000;
}

.email_contenedor{
  position: absolute;
  left: 700px;
  top: 4500px;
  z-index: 1;
}
.email_contenedor form{
  width: 100%;
  max-width: 470px;
  display: flex;
}

.email_contenedor form .email_txt{
  width: 355px;
  height: 40px;
  border: 1px solid #DAA520;
  border-radius: 3px 0px 0px 3px;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.email_contenedor form .sus_boton{
  width: 120px;
  height: 44px;
  border: 1px solid #DAA520;
  border-radius: 0px 3px;
  background:#DAA520;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 18px;
}
.email_contenedor form .sus_boton:hover{
  background: #ffdc84;
}

#footer2{
  position: absolute;
  left: 108.5px;
  top: 4660px;
}

#footer3{
  position: absolute;
  left: 108.5px;
  top: 4710px;
}

#footer4{
  position: absolute;
  width: 150px;
  height: 19px;
  left: 108.5px;
  top: 4765px;
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #8D8D8D;
}


.footer_menu1{
  position: absolute;
  left: 320px;
  top: 4696px;
  list-style: none;
}

#txtfooter1{
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}

.footer_menu{
  width: 100px;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 18px;
  color: #8D8D8D; 
  text-decoration: none;
}

.footer_menu:hover{
  color: #DAA520;
}

.footer_menu2{
  position: absolute;
  left: 480px;
  top: 4696px;
  list-style: none;
}

#txtfooter2{
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}

.footer_menu3{
  position: absolute;
  left: 643px;
  top: 4696px;
  list-style: none;
}

#txtfooter3{
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}

.footer_menu4{
  position: absolute;
  left: 790px;
  top: 4696px;
  list-style: none;
}

#txtfooter4{
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}

#final{
  position: absolute;
  top: 5000px;
  left: 590px;
}

#final2{
  position: absolute;
  left: 95px;
  top: 4622px;
  z-index: -1;
}